<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="header">
      <a href="login">Home</a>
      <a href="www.google.com">Dashboard</a>
      <a href="/signup">Sign Up</a>
      <a href="www.google.com">Logout</a>
      <h1><button id=title>The Tech Blog</button></h1>
    </header>
    <main class="container1">
      {{{ body }}}
    </main>
  </div>
</body>

</html>