<div class="dashboard-container">
    <div class="jumbotron">
        <h3 class="text-center text-primary" id="dashboard" style="width: 50%;">This is my dashboard page</h3>
        <button>+ Add New</button>

    </div>   

</div>

    <script src="/javascript/dashboard.js"></script>