:root {
  --primary: #389393;
  --secondary: #f5a25d;
  --tertiary: #fa7f72;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color:rgb(118, 126, 86);
}

header {
  /* padding: 2px; */
  text-align: right;
  background: var(--dark);
  color: var(--secondary);
  border-bottom-style: solid;
}

posts{
  box-sizing: border-box;
  width: 100%;
  border: solid black 10px;
  padding: 5px;
}

#postTitle{
  background-color: black;
  color: whitesmoke;
}

#postedby, #posteddate{
  color: whitesmoke;
}

#postedcontent{
  color: black;
}
